body{
  font-family: "Rubik", sans-serif;
  /* box-sizing: border-box; */
}

.butt-nav-mobile{
  display: none;
}

header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 245, 233);
}
.nav-bar{
  margin-top: 15px;
}
img{
    margin-top: 18px;
     height: 50px;
     width:  65px;
}
li{ 
  font-weight: bold ;
  display: inline-block;
  padding-left: 50px;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}

li a:hover{
  color: rgb(255, 0, 0);
  /* text-decoration: none; */
}
.signup{
  display: inline-block;
  background-color: #e67e22;
  box-sizing: border-box;
  padding:15px 30px;
  border-radius: 5px;
  color: white;
}
.hero-section{
  background-color: rgb(255, 245, 233);
}
div.hero{
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin-left: 10%;
 margin-right: 10%;
 gap: 40px;
}
.hero-text-box{
  width:80% ;
}
.hero-image{
  width: 80%;
}
.main-image{
 height: 500px;
 width: 100%;
}
/* this is Heading */

h1{
  letter-spacing: 1.5px;
  font-size: 40px;
}

p{
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 25px;
  margin-bottom: 50px;
}

.eating{
  box-sizing: border-box;
  background-color: #e67e22;
  color: #fffefe;
  padding:15px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.learn{
  margin-left: 10px;
  box-sizing: border-box;
  background-color: #fffefe;
  color: #585858;
  padding:15px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.delivered-imag img{
  width: 50px;
  height: 50px;
  margin-left: -18px;
  border: 5px solid rgb(255, 245, 233);
  border-radius: 50%;
}
.delivered-imag{
  margin-left: 15px;
}
.featured{
  padding: 4.8rem 0 3.2rem 0;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.heading-featured-in{
  letter-spacing: 0.75px;
  font: weight 500px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #999;
  
}
.logos{
  display: flex;
  justify-content: space-around;
  gap: 2.2rem;
  margin: 0 200px;

}
.logos img{
  height: 2rem;
  width: auto;
  filter: brightness(0);
  opacity: 50%;
}
.sub-heading{
  color: #cf711f;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.heading-secon{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.grid{
  display: grid;
  column-gap: 6.6rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--align-v {
  align-items: center;
}
.step-no {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
  text-align: left;
}
.step-text-box{
  width: 500px;
  margin-left: 100px;
}

.step-descripton{
  margin-top: 10px;
  text-align: left;
}
.step-heading{
  font-weight: 700;
  margin-top: 100px;
  text-align: left;
}
.step-img {
  /* padding: 100px; */
  width: 35%;
  height: 50%;
}
