
nav{
  background-color: antiquewhite;
  width: 100%;
  height: 100px;
  align-items: center;
  align-content: center;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}
ul.navul{ 
  padding-left: 300 px ;
  margin-left: 300px ;
  list-style: none;
  display: flex;

  
}

li{
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.contct{
  margin-left: 10px ;
  color: white;
  background-color:orangered ;
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  
}
.button{
  margin-left:500px;
}

a:link {
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
  color: orangered;
}

div.one{
  background-color:black ;
  color: antiquewhite;
  width: 150px;
  display: flex;
}
div.two{
  background-color:rgb(101, 40, 40) ;
  width: 150px;
  color: rgb(137, 108, 71);
  display: flex;
}
span{
  display: grid;
}
